body{
    background-color: black;
    color: white;
    margin: 0px;
}

header{
    border-bottom: double 4px rgb(42, 122, 228);
    padding: 25px;
    font-size: 35px;
    color: rgb(42, 122, 228);
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}

section{
    background-color: rgb(117, 143, 237);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

img{
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img{
    opacity: 0.5;
}

.categoria-videos img{
    opacity: 1.0;
}