body{
    background-color: black;
    color: white;
    margin: 0px;
}

header{
    border-bottom: double 4px rgb(42, 122, 228);
    padding: 25px;
    font-size: 35px;
    color: rgb(42, 122, 228);
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}

section{
    background-color: rgb(117, 143, 237);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}